.unicms__component--edit img.unicms__files--replace-on-click {
    cursor: pointer;
}

.unicms__component--edit img.unicms__files--replace-on-click:hover {
    opacity: 0.5;
}

.unicms__dropzone {
    padding: 10px;
    border: 2px dashed #cdcdcd;
    min-height: 50px;
    display: flex;
    -ms-align-items: center;
    -ms-justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.unicms__dropzone__label {
    text-align: center;
}

.unicms__dropzone__dragover {
    border: 2px dashed #000;
}

.unicms__dropzone__overlay {
    display: flex;
    -ms-align-items: center;
    -ms-justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    line-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 18px;
    font-weight: bold;
    background: rgba(255, 255, 255, .8);
}