<template name="UniCMSComponentImageInput">
    <input type="file" style="display: none;"/>

    <input type="hidden" {{atts}} value="{{fileId}}"/>

    {{#if Template.subscriptionsReady}}
        {{#if componentContentBlock}}
            {{#with fileObj}}
                {{> componentContentBlock}}
            {{else}}
                {{> componentElseBlock}}
            {{/with}}
        {{else}}
            {{#with fileObj}}
                {{#if isUploaded}}
                    {{#if isImage}}
                        <img src="{{url store=getStore}}" alt=""
                             class="unicms__files--replace-on-click js-replace-on-click img-responsive">
                        <div class="unicms__dropzone__overlay hidden js-overlay js-replace-on-drop">Drop files here</div>
                    {{/if}}
                {{else}}
                    <div class="progress">
                        <div style="width: 100%" role="progressbar"
                             class="progress-bar progress-bar-striped active"></div>
                    </div>
                {{/if}}
            {{else}}
            <div class="unicms__dropzone js-replace-on-click">
                <div class="unicms__dropzone__label">
                    Drop file to upload (or click)
                </div>
            </div>
            <div class="unicms__dropzone__overlay hidden js-overlay js-replace-on-drop">Drop files here</div>
            {{/with}}
        {{/if}}
    {{/if}}
</template>

<template name="UniCMSComponentImageOutput">
    {{#if Template.subscriptionsReady}}
        {{#if componentContentBlock}}
            {{#with fileObj}}
                {{> componentContentBlock}}
            {{else}}
                {{> componentElseBlock}}
            {{/with}}
        {{else}}
            {{#with fileObj}}
                {{#if isImage}}
                    <img src="{{url store=getStore}}" class="img-responsive" alt="">
                {{/if}}
            {{/with}}
        {{/if}}
    {{else}}
        {{#with getLoadingTemplate}}
            {{> Template.dynamic template=this}}
        {{/with}}
    {{/if}}
</template>
